@page {
    size: A4 portrait;
    margin: 0.5cm;
}
@page landscape {
    size: A4 landscape;
    margin: 0.5cm;
}
@media print {
    body {
        margin: 0;
    }

    /* jangan pakai height / min-height halaman */
    .page-break {
        page-break-before: always;
        break-before: page;
    }

    /* BIAR KONTEN BOLEH LANJUT */
    table {
        page-break-inside: auto;
    }

    tr {
        page-break-inside: avoid;
        page-break-after: auto;
    }

    .landscape-page {
        page: landscape;
    }
}

/* TABLE */
.print-table {
    width: 100%;
    border-collapse: collapse;
    font-size: 11pt;
    line-height: 1.3;
}

.print-table td,
.print-table th {
    border: 1px solid #000;
    padding: 6px;
    vertical-align: top;
}

.no-border,
.no-border td,
.no-border th {
    border: none !important;
    padding: 6px !important;
}
